__pycache__
.vscode/
.OSX-DEP/
.venv/
.DS_Store
R&D/

# Config files
config/
*.env*
config*.json

# Data files
data/
*.pickle
*_info.json

# Logs
logs/
*.log

# Archive
archive/

# Other
.git/
.github/
