__pycache__
.vscode/
.OSX-DEP/
.venv/
.DS_Store
R&D/
.env*
SN*
config*

cronjob
dec_key.bin
regex
favicon.ico
wake.sh
wake.log

wake_server.py
manage_account.py

session.pickle

instance_info.json
user_info.json
